name: CI Sky App

on:
  push:
    branches: [ "main" ]
  issues:
    types: [opened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run app
        run: python app.py
